include MANIFEST.in README.rst CHANGES.rst COPYING.txt LICENSE.txt
include TODO.md AGENTTODO.md CONTRIBUTING.md SECURITY.md
include setup.py setup.cfg pyproject.toml
include ahpy_version.py ahpy_build_backend.py ahpy_build_config.py cython.py
include bin/*
recursive-include Cython *.pyx *.pxd
include Cython/Parser/Grammar Cython/Parser/__init__.py
recursive-include Cython/Debugger/Tests *.c *.h
recursive-include Cython/Utility *.pyx *.pxd *.c *.h *.cpp
include Cython/Debugger/Tests/cfuncs.c
include Cython/Debugger/Tests/codefile
recursive-include pyximport *.py
include pyximport/PKG-INFO

recursive-include Tools/ahpy *.py *.md *.supp
recursive-include tests/ahpy *.py *.pyx *.h *.c *.toml *.txt
recursive-include docs/ahpy *.md *.rst *.json
recursive-include examples *.py *.pyx *.c *.h *.md *.toml *.def
recursive-include examples CMakeLists.txt meson.build
